.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: .5s;
}

.movieCard :hover img,.movieCard :hover.title{
    opacity: 0.85;
    transform: translateY(-15px);
    transition: 0.5s;
}

.movieImage{
    border-radius: 10px;
}

.title{
    color: rgb(250, 230, 193);
}

@media (max-width: 560px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}